
@media (max-width: 991px) {
  
}
/*------------------------------------------------------------------------------- Tablet device ---------------------------------------------------------------------------------------- */
@media (max-width: 840px) {
    header{
        box-shadow: none;
    }
    header {
        padding: 20px 0px;
        flex-direction: column;
    }
    .h-left {
        justify-content: center;
    }
    .h-right > ul{
        flex-direction: column;
    }
    .h-right > ul > li{
        margin-left: 0px;
        margin-top: 20px;
    }
    #follow{
        width: 250px;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner {
        padding: 0px 20px;
        justify-content: center;
        flex-direction: column-reverse;
        background-image: none;
        margin-top: 20px;
    }
    .b-left {
        width: 100%;
        background-image: url(../images/banner-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0 80px;
        margin-top: 40px;
    }
    .b-content {
        margin: 0;
        text-align: center;
    }
    .b-content h1 {
        margin: 10px 0;
        font-size: 36px;
    }
 h2 {
        font-size: 24px;
    }
    .b-right {
        width: 100%;
    }
    .banner-img {
        margin: auto;
    }
    .g-inner{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .online-game {
        padding: 30px 20px;
    }
  
}
/*------------------------------------------------------------------------------------- mobile device-------------------------------------------------------------------------------------- */
@media (max-width: 575px) {
    .g-inner{
        grid-template-columns: repeat(1,1fr);
    }
    .online-game {
        padding: 30px 20px;
    }

}
